/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0; /* Cor de fundo da página */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo do conteúdo */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

#videoElement {
    width: 100%;
    border: 5px solid #3498db; /* Moldura da câmera */
    border-radius: 10px; /* Borda arredondada */
}

#toggleButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
